In [1]:
#import pandas
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
print(X_train)
print(Y_train)
print(X_test)
print(Y_test)

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]
          charges
1163   2200.83085
196    5649.71500
438   12592.53450
183    7419.47790
1298   5261.46945
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[936 rows x 1 columns]
      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]
          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
X_train
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [9]:
from sklearn.svm import SVR
regressor=SVR(kernel="poly", gamma='scale',C=3000)
regressor.fit(X_train,Y_train)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000, kernel='poly')

In [10]:
Y_predict=regressor.predict(X_test)
Y_predict

array([ 9882.23553045,  8684.53726052, 47863.91492801, 12571.3296839 ,
       10503.41343965,  4754.93723665,  1443.94974332, 11161.657231  ,
        7435.84538836,  5371.62749203,  6792.36540753, 10061.14110577,
        7632.07502973,  4871.76871538, 25340.31666642, 10702.78951231,
       12523.59208885,  3559.80058082,  6538.68332237, 24014.94367286,
       25935.15514707, 12148.61708249,  9691.29174851, 30533.71413143,
        1963.47262983,  4967.98361807,  4445.33159778,  8003.49970394,
        4385.68529386,  8313.99557978,  7894.30531574, 51334.29195098,
       13004.91484206, 10251.92921715, 12711.42308371,  4153.88138193,
        8739.42694068, 35968.17012455, 35436.61473361,  2077.05999458,
        5945.32507383,  3376.59733561, 27298.90556466, 44665.58571445,
       32712.02939249,  3248.44366366, 10704.52721091,  7044.43520973,
        4729.54504139, 12142.93055349,  2793.08923534,  2960.73592137,
       30936.72609045, 42934.61243677, 11849.41436963,  3311.33971211,
        2881.70649678,  8672.39298937,  9944.89603544, 13098.45882487,
        1124.12958903, 36096.43185816, 13950.72721413,  9784.09263893,
       10282.43920497, 10072.85587107, 22653.818399  , 34039.44130596,
        3000.57564297,  8017.64348207, 13099.0202627 , 11674.61116259,
       19117.80648875, 13936.90381547, 12961.2094236 , 12701.41915414,
        7772.40831592,  8051.20763665, 24419.65627754, 44831.97870629,
       11088.74361983, 55127.90610426,  1917.60740494,  7822.03899316,
       40129.17164918, 22593.98569503,  4033.10688081,  2776.23778673,
       12481.58583512, 36639.31940305,  6249.94602188, 10245.09931266,
        3205.92186049,  8589.96978039,  4582.49782023,  5176.03683328,
       37119.46845005, 32892.943304  ,  5437.10031731, 10592.33643247,
        2155.39240645,  5744.72093302,  4804.25994812, 38177.21935775,
       29738.86148437,  3695.40095061, 11158.27848813,  3867.63757389,
       11348.35283724, 40816.91696321, 12440.82716329,  4782.97834571,
        8964.74523646, 23957.49738187, 52370.03944239,  7509.86971551,
        2034.32293919,  8663.70898858, 12477.27400497,  9100.77149955,
       40533.28028403, 10785.05462643, 14407.88172532,  5283.32122263,
        7868.55791854,  4965.44469655, 26841.94423531, 22073.86673503,
       51216.72283054,  1792.24909441,  8350.3190839 ,  1806.83971104,
        6458.24462102,  9318.0933512 , 33687.16049455, 32135.77726341,
       25378.69977923, 10177.79834336, 21884.35044824,  2729.0136614 ,
        2038.01439595, 10307.76255141,  9582.01591354,  9878.58257072,
        5156.39642821, 14386.07882626, 12814.78459798,  3445.68085217,
        1178.04641992, 10669.88627792,  6399.62761538, 43416.97061333,
        9584.21745794,  1653.26779917,  2540.67639022,  6899.26812663,
        2638.81023173,  1626.61376887, 10702.94239427,  9888.57864153,
        4521.7558114 , 12989.87638033, 12801.72472401,  9684.61913981,
        4924.24773795,  4166.09474561, 11723.56066478,  5829.66518375,
        4483.37811619,  1647.4574648 ,  4237.27512395,  4253.09635011,
        8113.73509247,  2453.47501649,  4450.42711012,  4407.04224632,
        4284.42204287,  6502.30066287, 34420.99161606,   839.15494639,
       10720.2176525 ,  6744.16224229, 10962.74308212,  3058.93766216,
        5676.24731769, 31235.78089246,  1906.70468972,  2639.92909553,
       14367.51010564,  9836.49457321, 38197.58977172,  4242.99224767,
        5946.53072287, 26292.00886939,  2668.47740425,  2262.88206194,
        6318.83035786,  6459.36987877,  4780.12766836,  4508.27746513,
       10885.22583793, 42691.4590069 , 11762.30201311, 22439.44550769,
        4615.06828211, 42589.38695713,  3559.20576494,  9220.77799485,
        6415.51352806,   891.14373095,  8685.83796343, 13462.92679384,
        5047.99465383,  2757.3173375 ,  6784.58508966,  2312.91431835,
        6457.86068333,  5394.07107408, 13998.7060166 ,  7249.4946164 ,
        6708.93811158,  7705.84464283,  8480.39148416,  3125.42869797,
       11816.39321741, 13909.56525446, 12242.93121631, 12029.71228455,
        7182.51136452,  2490.50428427,   919.73168046,  8246.12814113,
       12228.53035534,  3379.12338372,  5098.39133218,  7327.51674393,
        8970.11219891, 27288.13410862,  6061.87794121, 11162.84029699,
        5925.03582558, 28864.4019452 ,  7823.73891741,  7220.96723358,
        8231.74673008, 10216.83672307,  2638.33242094,  7762.97104514,
        2447.54602071,  6869.28812178, 26555.32890576, 35766.72750977,
        4422.35336316,  3827.71125846,  1488.67060189,   873.57488309,
        7892.38805697,  1672.54146403,  4315.67195009,  4005.03601895,
        9206.20644602, 29342.79742475, 39714.04169247, 14512.11097852,
        6781.86556103, 10960.5117737 , 40453.59991056,  9137.86944255,
       36787.32259024,  1045.2565007 , 34112.31120262,  5377.62992546,
       12335.47310115,  3920.50284634, 38162.02906541,  5663.63323349,
        9538.23863824, 10660.11827027,  2224.72751154, 13127.99373715,
       11906.31561515,  4602.13390297, 12193.24779875,  1513.27608408,
        6269.52402159,  3615.86952553,  9778.06613062, 25076.82384897,
        3218.3107938 ,   837.14927988,  2207.75364435, 42761.33601871,
        9006.34861442,  5006.50355836, 11781.87363407, 11232.2700678 ,
       28562.9778025 ,  6870.07632497,  5425.98137919,  8615.59613949,
        1174.88508554,  2588.90201907,  7809.15815171, 20669.02302626,
       13485.18222778,  2487.58221053,  3720.19003498,  8775.68991854,
        9214.1770439 , 11023.21601255, 26912.35997168,  6484.4987279 ,
       13441.70088002,  1763.04471289,  5912.66145995,  4573.33934446,
        8362.93614229,  1908.42345675,  6677.94406254, 46550.3461637 ,
        3554.20300832,  4153.10111427,  1755.31261803,  8505.36760776,
        4094.69854855, 12277.4140058 , 38731.45208681, 17448.77028259,
        8961.45512226, 43479.85275289, 12531.48409751,  4629.19611443,
        9561.32149564,  3708.79822886, 32675.69313092,  5112.65841301,
       13652.00221054,  1751.88183348, 16492.71150228,  3414.95085504,
       26980.7513681 ,  6249.33522912,  2303.96335261, 41793.97259644,
        5619.35010308,  5487.47879652, 32781.70858764,  1169.30686382,
        8224.73734524,  2196.27846101, 12838.65206101,  3979.72169115,
        5795.47046378,  5161.93480756, 42083.09586955,  8787.20254665,
       30646.26528434, 33705.17634038,  6063.75451907,  9174.86681756,
        1106.1396774 ,  3549.66062399,  2684.90084026,  8774.76841733,
       40398.51440606, 11350.78349778,  1694.13231126, 12060.96176167,
        2361.4768733 ,  7682.3143668 ,  4085.52579565,  2144.63722311,
        3441.85555571, 31650.49209198,  7316.96654362,  1603.6094843 ,
       41047.18689536, 10919.16668935, 39823.79032301, 11798.34118946,
        4880.58978817,  2432.5049211 ,  1960.01922554, 10087.51701366,
        5370.74312817,  1565.50270477, 10198.23596546,  7391.78869883,
        6391.18278686,  4220.98406724,  2630.01682721, 38031.53752854,
        1664.19121047,  9182.8047174 ,  1673.55753297,  7610.29290329,
       10601.45909977,  4119.64101549, 17493.37707706, 10252.55211956,
       14638.82310858, 13744.49114367])

In [11]:
from sklearn.metrics import r2_score
r2=r2_score(Y_test,Y_predict)
r2

0.8598930084494358